body {
	font:14px Arial, Helvetica, sans-serif;
	color:#624e18;
	background:#dcd9ac url(../images/workzone.jpg) top;
	margin:0px;
	padding:0px;
}
.menu{
	text-align:center;
	float:right;
	width:20%;
}
.menu1{
	clear: both;
	text-align:center;
	width:100%;
}
.menu h2 a{
	text-decoration: none;
	color:#8B0000;
	width:20%;
}
.header{
	padding:0 10% 0 10%;
	margin: 0 0 0 0;
}
#name h1{
	text-decoration: none;
	color:#8B0000;
	float:left;
	width:40%;
}
img {
    width: 50%;
    height: auto;
}
#details .photo{
	width:35%;
	padding: 0 1% 0 1%;
	float:left;
}
.photo1{
	width:50%;
	padding: 0 1% 0 1%;
	float:left;
}
.text{
	width:26%;
	padding:0 2% 0 2%;
	float:left;
	text-align: justify;
}
.text1{
	width:40%;
	padding:0 2% 0 2%;
	float:left;
	text-align: justify;
}
.hobbies{
	width:98%;
	padding:0 1% 0 1%;
	text-align:center;
}







h1{
	font-size:350%;
	color:#8B0000;
}
h2{
    	font-size:350%;
	color:#8B0000;
}
h3{
    	font-size: 150%;
}
h4{
  	font-size:250%;
	color:#8B0000;
}
p{
    	font-size: 150%;
}